<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <ul class="list-inline text-center">
                    {% if site.RSS %}
                    <li>
                        <a href="{{ "/feed.xml" | prepend: site.baseurl }}">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-rss fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    {% endif %}
                    <!-- add jianshu add target = "_blank" to <a> by BY -->
                    {% if site.jianshu_username %}
                            <li>
                                <a target="_blank" href="https://www.jianshu.com/u/{{ site.jianshu_username }}">
                                    <span class="fa-stack fa-lg">
                                        <i class="fa fa-circle fa-stack-2x"></i>
                                        <i class="fa  fa-stack-1x fa-inverse">简</i>
                                    </span>
                                </a>
                            </li>
                    {% endif %}
                    {% if site.twitter_username %}
                    <li>
                        <a href="https://twitter.com/{{ site.twitter_username }}">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    {% endif %}

                    <!-- add Weibo, Zhihu by Hux, add target = "_blank" to <a> by Hux -->
                    {% if site.zhihu_username %}
                    <li>
                        <a target="_blank" href="https://www.zhihu.com/people/{{ site.zhihu_username }}">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa  fa-stack-1x fa-inverse">知</i>
                            </span>
                        </a>
                    </li>
                    {% endif %}
                    {% if site.weibo_username %}
                    <li>
                        <a target="_blank" href="http://weibo.com/{{ site.weibo_username }}">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-weibo fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    {% endif %}


                    {% if site.facebook_username %}
                    <li>
                        <a target="_blank" href="https://www.facebook.com/{{ site.facebook_username }}">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    {% endif %}
                    {% if site.github_username %}
                    <li>
                        <a target="_blank" href="https://github.com/{{ site.github_username }}">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    {% endif %}
                    {% if site.linkedin_username %}
                    <li>
                        <a target="_blank" href="https://www.linkedin.com/in/{{ site.linkedin_username }}">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    {% endif %}
                </ul>
                <p class="copyright text-muted">
                    Copyright &copy; {{ site.title }} {{ site.time | date: '%Y' }}
                    <br>
                    Theme on <a href="{{ site.github_repo }}">GitHub</a> |
                    <iframe
                        style="margin-left: 2px; margin-bottom:-5px;"
                        frameborder="0" scrolling="0" width="100px" height="20px"
                        src="https://ghbtns.com/github-btn.html?user={{ site.github_username }}&repo={{ site.github_username }}.github.io&type=star&count=true" >
                    </iframe>
                </p>
            </div>
        </div>
    </div>
</footer>

<!-- Reading Progress Bar -->
<div id="progress-bar"></div>

<!-- Back to Top -->
<button id="back-to-top" title="回到顶部">
    <i class="fa fa-arrow-up"></i>
</button>

<!-- APlayer 音乐播放器 -->
<div id="aplayer"></div>

<!-- jQuery -->
<script src="{{ "/js/jquery.min.js " | prepend: site.baseurl }}"></script>

<!-- APlayer JS -->
<script src="https://cdn.jsdelivr.net/npm/aplayer@1.10.1/dist/APlayer.min.js"></script>
<script>
document.addEventListener('DOMContentLoaded', function() {
    // 从 localStorage 恢复之前的播放状态
    var saved = {
        currentTime: localStorage.getItem('musicCurrentTime') ? parseFloat(localStorage.getItem('musicCurrentTime')) : 0,
        wasPlaying: localStorage.getItem('musicPlaying'),
        volume: localStorage.getItem('musicVolume') ? parseFloat(localStorage.getItem('musicVolume')) : 0.5
    };

    var ap = new APlayer({
        container: document.getElementById('aplayer'),
        mini: false,
        autoplay: false,
        loop: 'all',
        preload: 'auto',
        volume: saved.volume,
        mutex: false,
        listFolded: false,
        audio: [{
            name: '我正年少',
            artist: '庄众',
            url: '{{ "/music/我正年少 - 庄众.mp3" | prepend: site.baseurl }}',
            cover: '{{ "/img/avatar.png" | prepend: site.baseurl }}'
        }]
    });

    function saveState() {
        localStorage.setItem('musicCurrentTime', ap.audio.currentTime);
        localStorage.setItem('musicPlaying', ap.audio.paused ? 'false' : 'true');
        localStorage.setItem('musicVolume', ap.volume());
    }

    function tryPlay() {
        var p = ap.play();
        if (p && p.then) {
            p.catch(function() {});
        }
    }

    // 判断是否需要自动播放（首次访问 或 之前正在播放 = 都是 true）
    var shouldPlay = saved.wasPlaying !== 'false';

    if (shouldPlay) {
        // 试试自动播放（可能被浏览器拦截）
        ap.on('canplay', function() {
            if (saved.currentTime > 0) {
                ap.seek(saved.currentTime);
            }
            tryPlay();
        });

        // 兜底：浏览器拦截自动播放时，首次用户交互后开始播放
        function playOnInteraction() {
            if (ap.audio.paused) {
                if (saved.currentTime > 0) ap.seek(saved.currentTime);
                tryPlay();
            }
            ['click', 'touchstart', 'keydown'].forEach(function(e) {
                document.removeEventListener(e, playOnInteraction);
            });
        }
        ['click', 'touchstart', 'keydown'].forEach(function(e) {
            document.addEventListener(e, playOnInteraction);
        });
    }

    // 播放/暂停时记录状态
    ap.on('play', function() {
        localStorage.setItem('musicPlaying', 'true');
    });
    ap.on('pause', function() {
        localStorage.setItem('musicPlaying', 'false');
        saveState();
    });

    // 每秒保存播放位置
    setInterval(function() {
        if (!ap.audio.paused) {
            localStorage.setItem('musicCurrentTime', ap.audio.currentTime);
            localStorage.setItem('musicVolume', ap.volume());
        }
    }, 1000);

    // 页面离开前保存
    window.addEventListener('beforeunload', saveState);
});
</script>

<!-- Bootstrap Core JavaScript -->
<script src="{{ "/js/bootstrap.min.js " | prepend: site.baseurl }}"></script>

<!-- Custom Theme JavaScript -->
<script src="{{ "/js/hux-blog.min.js " | prepend: site.baseurl }}"></script>

<!-- Service Worker -->
{% if site.service-worker %}
<script type="text/javascript">
    if(navigator.serviceWorker){
        // For security reasons, a service worker can only control the pages that are in the same directory level or below it. That's why we put sw.js at ROOT level.
        navigator.serviceWorker
            .register('/sw.js')
            .then((registration) => {console.log('Service Worker Registered. ', registration)})
            .catch((error) => {console.log('ServiceWorker registration failed: ', error)})
    }
</script>
{% endif %}


<!-- async load function -->
<script>
    function async(u, c) {
      var d = document, t = 'script',
          o = d.createElement(t),
          s = d.getElementsByTagName(t)[0];
      o.src = u;
      if (c) { o.addEventListener('load', function (e) { c(null, e); }, false); }
      s.parentNode.insertBefore(o, s);
    }
</script>

<!-- 
     Because of the native support for backtick-style fenced code blocks 
     right within the Markdown is landed in Github Pages, 
     From V1.6, There is no need for Highlight.js, 
     so Huxblog drops it officially.

     - https://github.com/blog/2100-github-pages-now-faster-and-simpler-with-jekyll-3-0  
     - https://help.github.com/articles/creating-and-highlighting-code-blocks/ 
     - https://github.com/jneen/rouge/wiki/list-of-supported-languages-and-lexers   
-->
<!--
    <script>
        async("http://cdn.bootcss.com/highlight.js/8.6/highlight.min.js", function(){
            hljs.initHighlightingOnLoad();
        })
    </script>
    <link href="http://cdn.bootcss.com/highlight.js/8.6/styles/github.min.css" rel="stylesheet">
-->


<!-- jquery.tagcloud.js -->
<script>
    // only load tagcloud.js in tag.html
    if($('#tag_cloud').length !== 0){
        async('{{ "/js/jquery.tagcloud.js" | prepend: site.baseurl }}',function(){
            $.fn.tagcloud.defaults = {
                //size: {start: 1, end: 1, unit: 'em'},
                color: {start: '#bbbbee', end: '#0085a1'},
            };
            $('#tag_cloud a').tagcloud();
        })
    }
</script>

<!--fastClick.js -->
<script>
    async("//cdnjs.cloudflare.com/ajax/libs/fastclick/1.0.6/fastclick.min.js", function(){
        var $nav = document.querySelector("nav");
        if($nav) FastClick.attach($nav);
    })
</script>


<!-- Google Analytics -->
{% if site.ga_track_id %}
<script>
    // dynamic User by Hux
    var _gaId = '{{ site.ga_track_id }}';
    var _gaDomain = '{{ site.ga_domain }}';

    // Originial
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', _gaId, _gaDomain);
    ga('send', 'pageview');
</script>
{% endif %}


<!-- Baidu Tongji -->
<!-- GLightbox JS -->
<script src="https://cdn.jsdelivr.net/npm/glightbox/dist/js/glightbox.min.js"></script>

<!-- Theme Toggle -->
<script>
(function() {
    var savedTheme = document.documentElement.getAttribute('data-theme');

    var toggle = document.getElementById('theme-toggle');
    var icon = toggle ? toggle.querySelector('i') : null;

    function updateIcon(theme) {
        if (icon) {
            icon.className = theme === 'dark' ? 'fa fa-sun-o' : 'fa fa-moon-o';
        }
    }
    updateIcon(savedTheme);

    if (toggle) {
        toggle.addEventListener('click', function(e) {
            e.preventDefault();
            var current = document.documentElement.getAttribute('data-theme');
            var next = current === 'dark' ? 'light' : 'dark';
            document.documentElement.setAttribute('data-theme', next);
            localStorage.setItem('theme', next);
            updateIcon(next);
        });
    }

    // 监听系统主题变化
    window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', function(e) {
        if (!localStorage.getItem('theme')) {
            var sysTheme = e.matches ? 'dark' : 'light';
            document.documentElement.setAttribute('data-theme', sysTheme);
            updateIcon(sysTheme);
        }
    });
})();
</script>

<!-- GLightbox Init -->
<script>
document.addEventListener('DOMContentLoaded', function() {
    if (typeof GLightbox !== 'undefined') {
        var lightbox = GLightbox({
            selector: '.post-container img:not(.no-lightbox)',
            touchNavigation: true,
            loop: false,
            autoplayVideos: false
        });

        // 主题切换时同步更新 lightbox skin
        var observer = new MutationObserver(function() {
            var theme = document.documentElement.getAttribute('data-theme');
            if (lightbox) {
                lightbox.skin = theme === 'dark' ? 'clean' : 'clean';
            }
        });
        observer.observe(document.documentElement, { attributes: true, attributeFilter: ['data-theme'] });
    }
});
</script>

<!-- Snowfall Effect - 全站 -->
<canvas id="snow-canvas"></canvas>
<script>
(function() {
    var canvas = document.getElementById('snow-canvas');
    if (!canvas) return;
    var ctx = canvas.getContext('2d');

    var W, H;
    var flakes = [];
    var maxFlakes = 80;
    var isDark = document.documentElement.getAttribute('data-theme') === 'dark';

    function resize() {
        W = canvas.width = window.innerWidth;
        H = canvas.height = window.innerHeight;
    }

    function Flake() {
        this.reset();
    }
    Flake.prototype.reset = function() {
        this.x = Math.random() * W;
        this.y = Math.random() * -H;
        this.r = Math.random() * 3 + 1;
        this.speed = Math.random() * 1.5 + 0.5;
        this.wind = Math.random() * 0.5 - 0.25;
        this.opacity = Math.random() * 0.6 + 0.2;
    };
    Flake.prototype.update = function() {
        this.y += this.speed;
        this.x += this.wind;
        if (this.y > H + 10) { this.y = -10; this.x = Math.random() * W; }
        if (this.x > W + 10) this.x = -10;
        if (this.x < -10) this.x = W + 10;
    };
    Flake.prototype.draw = function() {
        ctx.beginPath();
        ctx.arc(this.x, this.y, this.r, 0, Math.PI * 2);
        if (isDark) {
            ctx.fillStyle = 'rgba(200, 210, 240, ' + (this.opacity * 0.7) + ')';
            ctx.shadowColor = 'rgba(180, 200, 255, 0.5)';
        } else {
            // 亮色模式：浅蓝灰，带微光，在白底上也清晰可见
            ctx.fillStyle = 'rgba(130, 160, 210, ' + (this.opacity * 0.8) + ')';
            ctx.shadowColor = 'rgba(100, 130, 180, 0.4)';
        }
        ctx.shadowBlur = this.r * 2;
        ctx.fill();
        ctx.shadowBlur = 0;
    };

    function initFlakes() {
        flakes = [];
        for (var i = 0; i < maxFlakes; i++) {
            var f = new Flake();
            f.y = Math.random() * H;
            flakes.push(f);
        }
    }

    function animate() {
        ctx.clearRect(0, 0, W, H);
        for (var i = 0; i < flakes.length; i++) {
            flakes[i].update();
            flakes[i].draw();
        }
        requestAnimationFrame(animate);
    }

    resize();
    initFlakes();
    animate();
    window.addEventListener('resize', function() {
        resize();
        initFlakes();
    });

    var snowObserver = new MutationObserver(function() {
        isDark = document.documentElement.getAttribute('data-theme') === 'dark';
    });
    snowObserver.observe(document.documentElement, { attributes: true, attributeFilter: ['data-theme'] });
})();
</script>

<!-- Cursor Glow Effect -->
<div id="cursor-glow"></div>
<script>
(function() {
    var glow = document.getElementById('cursor-glow');
    if (!glow) return;
    var mx = 0, my = 0, cx = -100, cy = -100;
    var active = false, raf = null;

    document.addEventListener('mousemove', function(e) {
        mx = e.clientX;
        my = e.clientY;
        if (!active) {
            active = true;
            cx = mx; cy = my;
            glow.style.opacity = '1';
            raf = requestAnimationFrame(loop);
        }
    });

    document.addEventListener('mouseleave', function() {
        active = false;
        glow.style.opacity = '0';
        if (raf) { cancelAnimationFrame(raf); raf = null; }
    });

    document.addEventListener('mouseenter', function() {
        if (!active) {
            active = true;
            cx = mx; cy = my;
            glow.style.opacity = '1';
            raf = requestAnimationFrame(loop);
        }
    });

    function loop() {
        if (!active) return;
        cx += (mx - cx) * 0.12;
        cy += (my - cy) * 0.12;
        glow.style.left = cx + 'px';
        glow.style.top = cy + 'px';
        raf = requestAnimationFrame(loop);
    }
})();
</script>

<!-- Reading Progress Bar -->
<script>
(function() {
    var bar = document.getElementById('progress-bar');
    if (!bar) return;
    window.addEventListener('scroll', function() {
        var scrollTop = window.pageYOffset || document.documentElement.scrollTop;
        var docHeight = document.documentElement.scrollHeight - window.innerHeight;
        var progress = docHeight > 0 ? Math.min((scrollTop / docHeight) * 100, 100) : 0;
        bar.style.width = progress + '%';
    });
})();
</script>

<!-- Back to Top -->
<script>
(function() {
    var btn = document.getElementById('back-to-top');
    if (!btn) return;
    window.addEventListener('scroll', function() {
        if (window.pageYOffset > 400) {
            btn.classList.add('show');
        } else {
            btn.classList.remove('show');
        }
    });
    btn.addEventListener('click', function() {
        window.scrollTo({ top: 0, behavior: 'smooth' });
    });
})();
</script>

<!-- Reading Time Estimate -->
<script>
(function() {
    var previews = document.querySelectorAll('.post-preview');
    previews.forEach(function(p) {
        var contentEl = p.querySelector('.post-content-preview');
        if (!contentEl) return;
        var text = contentEl.textContent || '';
        // 中文阅读速度约 400字/分钟，英文约 200词/分钟
        var charCount = text.replace(/\s/g, '').length;
        var minutes = Math.max(1, Math.ceil(charCount / 400));
        var meta = p.querySelector('.post-meta');
        if (!meta) return;
        var span = document.createElement('span');
        span.className = 'reading-time';
        span.textContent = '约 ' + minutes + ' 分钟';
        meta.appendChild(span);
    });
})();
</script>

{% if site.ba_track_id %}
<script>
    // dynamic User by Hux
    var _baId = '{{ site.ba_track_id }}';

    // Originial
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "//hm.baidu.com/hm.js?" + _baId;
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(hm, s);
    })();
</script>
{% endif %}



<!-- Side Catalog -->
{% if page.catalog %}
<script type="text/javascript">
    function generateCatalog (selector) {
        var P = $('div.post-container'),a,n,t,l,i,c;
        a = P.find('h1,h2,h3,h4,h5,h6');
        a.each(function () {
            n = $(this).prop('tagName').toLowerCase();
            i = "#"+$(this).prop('id');
            t = $(this).text();
            c = $('<a href="'+i+'" rel="nofollow">'+t+'</a>');
            l = $('<li class="'+n+'_nav"></li>').append(c);
            $(selector).append(l);
        });
        return true;    
    }

    generateCatalog(".catalog-body");

    // toggle side catalog
    $(".catalog-toggle").click((function(e){
        e.preventDefault();
        $('.side-catalog').toggleClass("fold")
    }))

    /*
     * Doc: https://github.com/davist11/jQuery-One-Page-Nav
     * Fork by Hux to support padding
     */
    async("{{ '/js/jquery.nav.js' | prepend: site.baseurl }}", function () {
        $('.catalog-body').onePageNav({
            currentClass: "active",
            changeHash: !1,
            easing: "swing",
            filter: "",
            scrollSpeed: 700,
            scrollOffset: 0,
            scrollThreshold: .2,
            begin: null,
            end: null,
            scrollChange: null,
            padding: 80
        });
    });
</script>
{% endif %}

<!-- Page Fade-in Transition -->
<script>
(function(){
    if (document.readyState === 'complete') {
        document.body.style.opacity = '1';
    } else {
        window.addEventListener('load', function() {
            document.body.style.opacity = '1';
        });
    }
})();
</script>

